---
import { getCollection } from 'astro:content';

import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import PostPreview from "../components/PostPreview.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
const posts = (await getCollection('posts')).sort(
    (a,b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout title="Blog Posts | Ryan Acevedo" description="Recent blog posts what Ryan Acevedo has been working on.">

    <div class="stack gap-20">

        <main class="wrapper stack gap-8">
            <Hero
                    title="Ryan's Blog"
                    tagline="I write about tech and such.."
                    align="start"
            />
            <Grid variant="small">
                {
                    posts.map((post) => (
                            <li>
                                <PostPreview post={post} />
                            </li>
                    ))
                }
            </Grid>
        </main>
    </div>
</BaseLayout>