---
interface Props {
	type?: "button" | "submit" | "reset";
	name?: string;
	value?: string;
	pressed?: boolean;
}

const { type = "button", name, value, pressed } = Astro.props;
---

<button type={type} name={name} value={value} aria-pressed={pressed}><slot /></button>

<style>
    button {
        display: flex;
        place-content: center;
        padding: 2rem;
        color: var(--accent-text-over);
        text-decoration: none;
        line-height: 1.1;
        border-radius: 999rem;
        background: var(--gradient-accent-orange);
        box-shadow: var(--shadow-md);
        cursor: pointer;
        transition:
            transform var(--theme-transition),
            box-shadow var(--theme-transition);
        position: relative;
    }
    button::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        transition: background-color var(--theme-transition);
        mix-blend-mode: overlay;
    }
    button:hover::after,
    button:focus::after {
        background-color: hsla(var(--gray-999-basis), 0.3);
    }

    button[aria-pressed="true"] {
        outline: 3px solid var(--accent-regular);
        outline-offset: 3px;
    }

    @media (min-width: 20em) {
        button {
            font-size: var(--text-lg);
        }
    }
    @media (min-width: 50em) {
        button {
            padding: 1.125rem 2.5rem;
            font-size: var(--text-xl);
        }
    }
</style>
