---
import type { HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"a">, "class" | "href"> {
	href: string;
	variant?: "primary" | "secondary";
}

const { href, variant = "primary", ...attributes } = Astro.props;
---

<a class={variant} href={href} {...attributes}><slot /></a>

<style>
	a {
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		padding: 0.56em 2em;
		gap: 0.8em;
		text-decoration: none;
		line-height: 1.1;
		border-radius: 999rem;
		overflow: hidden;
		white-space: nowrap;
	}

	.primary {
		color: var(--accent-text-over);
		background: var(--gradient-accent-orange);
		box-shadow: var(--shadow-md);
	}

	.secondary {
		color: var(--link-color);
		border: 2px solid var(--link-color);
		background: transparent;
		box-shadow: var(--shadow-sm);
	}

	.secondary:hover,
	.secondary:focus {
		background-color: var(--accent-subtle-overlay);
	}

	@media (min-width: 20em) {
		a {
			font-size: var(--text-lg);
		}
	}

	/* Overlay for hover effects. */
	.primary::after {
		content: '';
		position: absolute;
		inset: 0;
		pointer-events: none;
		transition: background-color var(--theme-transition);
		mix-blend-mode: overlay;
	}

	.primary:focus::after,
	.primary:hover::after {
		background-color: hsla(var(--gray-999-basis), 0.3);
	}

	@media (min-width: 50em) {
		a {
			padding: 1.125rem 2.5rem;
			font-size: var(--text-xl);
		}
	}
</style>
