---
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="terminal-window"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>AI Development</h2>
		<p>
			I specialize in building custom AI agents and fullstack applications
			that drive true business value, automate repetitive tasks, and
			unlock new capabilities for your business.
		</p>
		<a href="#">View AI Case Studies</a>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="strategy"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Business Strategy</h2>
		<p>
			I help businesses identify opportunities where software can provide
			the greatest impact, developing strategies that align with goals and
			maximize ROI then execute it to scale.
		</p>
		<a href="#">See my process</a>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="code"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Serial Entrepreneur</h2>
		<p>
			I have started and scaled multiple businesses from the ground up,
			learning what it takes to succeed in the new AI-first economy.
		</p>
		<a href="#">View an example</a>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
