---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="terminal-window"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>AI Development</h2>
		<p>
			I specialize in building AI dev workflows and fullstack applications
			that integrate AI into the product. Could be: automating a
			repetitive task or unlocking new capabilities for your business.
		</p>
		<div class="cta">
			<CallToAction variant="secondary" href="/ai-development"
				>View AI Case Studies</CallToAction
			>
		</div>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="strategy"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Business Strategy</h2>
		<p>
			I help businesses identify opportunities where software can provide
			the greatest impact, developing strategies that align with goals and
			maximize ROI then execute it to scale.
		</p>
		<div class="cta">
			<CallToAction variant="secondary" href="/my-process"
				>See my process</CallToAction
			>
		</div>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="code"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Entrepreneurship</h2>
		<div class="cta">
			<CallToAction variant="secondary" href="/entrepreneurship"
				>View examples</CallToAction
			>
		</div>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	.cta {
		align-self: flex-start;
		margin-top: auto;
	}

	.cta :global(a) {
		font-size: var(--text-md);
		padding: 0.5em 1.5em;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
